<web-app version="4.0">
    <servlet>
        <display-name>KtorServletRestApi</display-name>
        <servlet-name>KtorServletRestApi</servlet-name>
        <servlet-class>io.ktor.server.servlet.ServletApplicationEngine</servlet-class>
        <init-param>
            <param-name>io.ktor.ktor.config</param-name>
            <param-value>application.conf</param-value>
        </init-param>
        <init-param>
            <param-name>allow-post</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>KtorServletRestApi</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>
